[2019-06-22 21:03] mikebronner opened #1 "Make tile provider configurable."

[2019-06-22 21:03] mikebronner opened #2 "Make geocoding provider configurable."

[2019-06-22 21:11] mikebronner opened #3 "Add publish requirements to documentation."

[2019-06-22 21:11] mikebronner opened #4 "Create documentation and prep for public use."

[2019-06-23 13:30] mikebronner opened #5 "Allow for custom marker and shadow images."

[2019-06-23 15:03] #1 closed

[2019-06-23 15:03] #2 closed

[2019-06-23 15:03] #3 closed

[2019-06-23 15:03] #4 closed

[2019-06-23 15:25] mikebronner opened #6 "assets"
![laravel-nova-map-marker-field-header](https://user-images.githubusercontent.com/1791050/59978378-86beef00-9590-11e9-9a10-dee8f77f0037.png)

[2019-06-23 15:26] #6 closed

[2019-06-23 15:27] mikebronner commented on #6
<img width="1007" alt="Screen Shot 2019-06-23 at 8 17 43 AM" src="https://user-images.githubusercontent.com/1791050/59978392-a5bd8100-9590-11e9-9ab7-576e7a935dff.png">

[2019-06-23 15:27] mikebronner commented on #6
<img width="1010" alt="Screen Shot 2019-06-23 at 8 16 52 AM" src="https://user-images.githubusercontent.com/1791050/59978398-b241d980-9590-11e9-9adc-23e5bd9688e0.png">

[2019-06-23 15:32] mikebronner commented on #6
<img width="1098" alt="Screen Shot 2019-06-23 at 8 32 01 AM" src="https://user-images.githubusercontent.com/1791050/59978478-778c7100-9591-11e9-9610-3c9a59ca12c4.png">

[2019-06-24 16:13] calvinps opened #7 "Marker doesn't stay in correct spot when zooming with scroll wheel on Detail view"
The marker is locked to the middle of the screen, but if you put your mouse near the corner of the image and scroll in/out the frame shifts to the left/right, but the marker bounces back to the center of the map, which ends up being in the wrong location. Starting with the map zoomed in to street level, you can zoom out with your scroll wheel on your mouse and move the marker clear across the glob

[2019-06-24 16:14] mikebronner commented on #7
@calvinps Can you make a quick video of the problem you describe and post it? That would help tremendously. Thanks for reporting this. :)

[2019-06-24 16:15] mikebronner commented on #7
PS: I'm currently working on another bug fix, and will try to fix this for release 0.1.2 later today.

[2019-06-24 16:19] mikebronner commented on #7
@calvinps I just found what you meant. No need for the video.

[2019-06-24 16:55] mikebronner commented on #7
@calvinps This should now be fixed in release 0.1.2. Please let me know how that works for you. Thanks again for bringing this to my attention. :)

[2019-06-24 16:55] #7 closed

[2019-06-24 16:55] mikebronner opened #8 "Allow for custom overlays."

[2019-06-24 16:56] mikebronner opened #9 "Allow for boundary restrictions."

[2019-06-24 17:11] calvinps commented on #7
@mikebronner works great, thanks for the quick bug fix and new version release! Was also going to report the update bug but glad to see that is worked in too.

[2019-06-26 02:14] andreagreening opened #10 "Not accepting custom field names"
I am trying to use custom field names by following the documentation:
`MapMarker::make('Location')
            ->latitude('lat')
            ->longitude('long'),`

But these fields stay blank.  If I rename these fields to 'latitude' & 'longitude' in my database, everything works great.  I do not want to rename my fields though, can you provide any assistance?

[2019-06-26 02:16] mikebronner commented on #10
@andreagreening Absolutely, thanks for reporting this. Let me work on that in the morning and see if I can replicate the issue. If I can, I will work on a fix and have it to you as soon as possible tomorrow.

[2019-06-26 02:39] andreagreening commented on #10
@mikebronner Thanks so much for your speedy response!

[2019-06-26 16:51] mikebronner commented on #10
Hi @andreagreening, thanks for being patient with this issue. This should now be fixed in release 0.1.3.
Saving was working correctly, it was the detail page that wasn't reading non-default field names correctly. Please let me know how this works for you. 😀

[2019-06-26 19:22] bigperson opened #11 "added yandex map provider"
Please consider adding yandex maps provider

[2019-06-26 19:25] mikebronner commented on #11
Hi @bigperson, thanks for the suggestion. You should be able to insert the provider with the given Yandex map tile URL. Have you tried this? Also, can you provide a link to API documentation on how to implement Yandex maps? I just want to make sure I'm looking at the right resources, instead of googling something different.

Link for further research: https://github.com/shramov/leaflet-plugins

[2019-06-26 20:59] andreagreening commented on #10
This works on the detail page. Thank you! However, it still appears to not be loading the Location Data on the Resource Index.

[2019-06-26 20:59] mikebronner commented on #10
@andreagreening Oh bugger!!!! hang tight, I'll have a fix up in a sec.

[2019-06-26 21:16] mikebronner commented on #10
Can you give release 0.1.4 a shot? Hopefully this works now. :)

[2019-06-26 21:16] #10 closed

[2019-06-26 21:36] andreagreening commented on #10
That works!

[2019-06-26 21:37] mikebronner commented on #10
@andreagreening Awesome, glad things are up and running!

[2019-06-26 21:39] andreagreening commented on #10
Thanks for all your help!

[2019-06-26 21:40] mikebronner commented on #10
Anytime, please let me know if you run into trouble or have suggestions down the road. :)

[2019-07-03 18:26] bigperson commented on #11
Hi, @mikebronner
https://tech.yandex.com/maps/jsapi/doc/2.1/quick-start/index-docpage/
https://github.com/PNKBizz/vue-yandex-map

[2019-07-03 18:31] bigperson commented on #11
@mikebronner I can not testing this package, when i use nova v1.* and laravel 5.6 :'(

[2019-07-03 18:33] mikebronner commented on #11
Yea, I have not tested this package with those old versions. You are welcome to create a fork of the package, and update `composer.json` to see if you can get it to run in your environment.

[2019-07-18 10:30] scottybo opened #13 "Hide map on Detail page if value is empty"
On occasion we don't have location data for a particular Model, so on the Detail page the map is defaulting to long/lat 0.

Instead, if the field has no value could we hide the map altogether and have an output such as "Location data not supplied"?

[2019-07-18 12:12] scottybo opened #14 "Default map provider should use https"
I noticed that the default provider for this field is using http instead of https, forcing us to always define the tile provider (even though we're using OSM)

[code]

[2019-07-18 14:37] mikebronner commented on #14
@scottybo  Thanks for catching this!

[2019-07-18 14:38] mikebronner commented on #13
@scottybo  Good point. I work that into the next update.

[2019-07-18 16:29] mikebronner commented on #14
This should now be fixed in release 0.1.6. Please let me know how it works for you.

[2019-07-18 16:29] #14 closed

[2019-07-18 16:29] mikebronner commented on #13
This should now be fixed in release 0.1.6. Please let me know how it works for you.

[2019-07-18 16:29] #13 closed

[2019-07-25 16:10] chartalex opened #15 "Keep LAT and LONG values when editing"
Hi all

Only when editing, it looks like latitude and longitude values are lost, and it shows a random map (with random location and marker).

So I need to type again the entire address to reset the map to the correct values, even if I wanted to edit another field.

Did I make something wrong, or this feature is not developed yet?

Thanks a lot for your help

[2019-07-25 16:43] mikebronner commented on #15
@chartalex  This may be a bug, but I haven't noticed it when I am using it.
Can you post the code you are using in your Nova resource to show the field?

[2019-07-26 08:37] chartalex commented on #15
Thanks @mikebronner for your help on this

Here is my "rdv" (rendez-vous) ressource:

[code]

And here the structure of my rdvs table:

[code]

[2019-07-26 08:41] chartalex commented on #15
Screenshot when "displaying" the ressource:

![Capture d’écran 2019-07-26 à 10 39 33](https://user-images.githubusercontent.com/2838557/61938609-d0d13100-af91-11e9-9670-9952504f298c.png)

Screenshot when "editing" the ressource:

![Capture d’écran 2019-07-26 à 10 39 54](https://user-images.githubusercontent.com/2838557/61938668-f2cab380-af91-11e9-8898-75b28c1eaac5.png)

[2019-07-26 18:39] mikebronner commented on #15
Thanks for the additional info. Looking into it now. :)

[2019-07-26 18:44] mikebronner commented on #15
@chartalex This should now be fixed in release 0.1.7. Thanks for reporting it! Please let me know how ti works for you.

[2019-07-26 18:44] #15 closed

[2019-07-31 05:38] Reached opened #16 "Geocode into address"
Hey @mikebronner ,

Well done on the package!

Is it possible to reverse geocode with this? So that I can get an address from coordinates?

[2019-08-02 22:55] mikebronner commented on #16
Hi @Reached, this package doesn't do GeoCoding. For that I recommend https://github.com/geocoder-php/GeocoderLaravel which is perfectly suited to reverse-geocode your locations to addresses in PHP. You could trigger this to automatically happen in a model observer before saving.

[2019-08-02 22:55] #16 closed

[2019-08-05 13:21] Reached commented on #16
Thanks @mikebronner, good suggestion !

[2019-08-21 19:53] vbezruchkin opened #17 "Support for Nova 2.1.x"
Hello,

Thanks for the package. Please add support for Nova 2.1.x released recently.

[2019-08-21 19:53] mikebronner commented on #17
Glad it's useful to you Could you provide specific issues you are experiencing?

[2019-08-21 19:57] vbezruchkin commented on #17
wow, that was fast :)

[code]
That's strange as my Nova is 2.1.x :)

[2019-08-21 19:58] mikebronner commented on #17
Try clearing your composer cache: `composer clear-cache && composer update`. Let me know if that fixes it. I am using it in Nova 2.1 projects without any issues that I have found so far. :)

[2019-08-21 20:01] mikebronner commented on #17
Also, check if you have the Nova entry in your composer.json file:
[code]

[2019-08-21 20:04] vbezruchkin commented on #17
Just did it,
[code]

Yes, I do have Nova in my json

[code]

[2019-08-21 20:05] mikebronner commented on #17
That's odd ... let me get back to you on this. I'm in the middle of something else at the moment.

[2019-08-21 20:06] vbezruchkin commented on #17
no rush at all, thanks for your assistance

[2019-08-21 20:07] mikebronner commented on #17
I just ran it without issue on my project. it must be something in your composer.json. Can you post the entire file for me?

[2019-08-21 20:11] vbezruchkin commented on #17
[code]

there are some private repos, but I removed them from the list.

I can install the other packages, for example Telescope was added without any issues.

[2019-08-21 20:23] mikebronner commented on #17
Try changing `"laravel/nova": "*",` to `"laravel/nova": "2.*",`. It's possible that another package is requiring a lower version of nova.

[2019-08-21 22:07] mikebronner commented on #17
I have updated your composer.json to work:
[code]

Also, I saw you were pulling in some packages that I also have excellent solutions for:
- https://github.com/GeneaLabs/nova-telescope (brings telescope into Nova, instead of linking to it)
- https://github.com/GeneaLabs/laravel-impersonator (works in Nova)
 Let me know what you think. I also have many more packages available: https://github.com/Ge

[2019-08-22 02:55] vbezruchkin commented on #17
that didn't work as well, unfortunately. I guess it might be something in my configuration. I will check it carefully and let you know. thanks again.

UPD: sorry, missed the latest reply. I will give it a try. thanks

[2019-08-22 04:41] vbezruchkin commented on #17
yes, working fine. thanks for your assistance.

I will check your packages.

[2019-08-22 04:41] #17 closed

[2019-08-23 01:39] checkerschaf opened #18 "Option to set zoom level"
Hey,

it would be very nice to set the default zoom level. Without it kinda ruins the workflow so it would be very nice to add this option.
It's a great package so far, I'll see if I can contribute later.

Thanks and hava a nice day :)

[2019-08-23 02:44] mikebronner commented on #18
@checkerschaf Thats a great suggestion, thanks!

[2019-08-23 14:51] mikebronner commented on #18
@checkerschaf Try release 0.1.9. Added default zoom and coordinate settings. Let me know how it works for you. :) Thanks again for the suggestion.

[2019-08-23 14:51] #18 closed

[2019-09-05 17:17] vbezruchkin opened #21 "Feature: Default settings for all instances"
Hi,

Thanks again for the great plugin.
Please add configuration for default MapMarker values, so I don't need to setup it for every model I have.

Example:
- I have several models located in one city
- I use MapMarker in several files with the default values

It would be easier for my case to have just one default configuration (latitude, longitude, zoom, etc.) and it would be applied to all call

[2019-09-05 17:38] mikebronner commented on #21
Is this not what you mean?https://github.com/GeneaLabs/nova-map-marker-field#default-settings

[2019-09-05 17:41] vbezruchkin commented on #21
No, I've seen that. But I guess I need to setup this every time I create a field, right?

I might have 10 map fields in different Nova resources. I'd like to have ONE common default settings rather configure default values every time I create a new field. It's like your default 12, and 0/0 for coordinates.

Thanks

[2019-09-05 17:46] mikebronner commented on #21
I see. You can do this yourself already. Set up a config file, lets say `config\settings.php`:
[code]

Then in your nova resources:
[code]

Those kind of things are very app-dependent, so it's best you handle that as you see fit. I don't want to impose any kind of convention like that, as I have already exposed the functions necessary to let people do what they want. :)

Let me know how that works

[2019-09-05 17:54] vbezruchkin commented on #21
Thanks for the advice. Yes, this seems reasonable, and I thought of it. But I'd like to go even further.

Let's say we have config file `config\mapmarker.php` with the following content:
[code]

and when I create a new Nova field, these settings would be applied automatically for all the resources. This would allow to get rid of default duplication in each resource:
[code]

Not a big deal though,

[2019-09-05 18:09] mikebronner commented on #21
@vbezruchkin No problem, I understand. At this time automatically applying default values from configs is not something I am considering, as I believe it to be out of the scope of this package.

Thanks for bringing this up, though! :)

[2019-09-05 18:09] #21 closed

[2019-09-13 03:03] vbezruchkin opened #22 "Restrictive dependency for Nova as local folder"
Hi again,

Looks like the problem, outlined in #17 is still persistent. We have the same problem on some other dev environments.

[code]

Looks like the dependency does not work well, when you include Nova as a local folder:
[code]
it worked fine for me, when I followed your advise and used Nova from regular registry.

Anyhow, quick research shows that if I switch your package composer dependency

[2019-09-13 03:38] vbezruchkin commented on #22
Looks like it's similar to https://stackoverflow.com/questions/49287911/composer-dependency-on-local-repository so it's more a compose thing, but the pull request would indeed help as it's the only package I have issue with :) Thanks!

[2019-09-16 11:49] timcv opened #24 "Migration"
Hi,

What column type would you use for the migration?

Thanks for a promising package!

//Tim

[2019-09-16 13:26] timcv opened #25 "Validation"
Hi,

Would it be possible to add validations to this field?

I would like to set the field as 'required'

Thanks in advance

//Tim

[2019-09-16 16:04] mikebronner commented on #25
Hi @timcv  Yes, you should be able to apply validations, just like with other Nova fields. Let me know if they don't work, but I have been using "required" in my apps on this field as well.

[2019-09-16 16:06] mikebronner commented on #24
You basically have two fields, one for latitude and one for longitude. I would recommend:
[code]

[2019-09-16 16:06] #24 closed

[2019-09-16 16:07] mikebronner commented on #22
@vbezruchkin Thanks for raising this issue. I will take a look at it over the next few days.

[2019-09-17 08:28] timcv commented on #25
Strange, i tried again and it wont validate...

This is how my fields look like:

[code]

[2019-09-17 08:30] timcv commented on #24
Thank you!

You should att these details to the docs.

Thanks for an awesome field!

//Tim

[2019-09-17 16:40] mikebronner commented on #25
If you provide default values, your validation requirements are already satisfied. :) Default values populate the field as if the user made the selection.

[2019-09-20 08:04] timcv commented on #25
I get the same result when i remove the default values.

[code]

When i have the default values, nothing is saved to the database and there is no validation error.

[2019-09-21 16:18] #22 closed

[2019-09-21 16:24] mikebronner commented on #25
@timcv Actually, I just retested, and validation does with, even with default values:
[code]

[2019-09-21 16:24] #25 closed

[2019-09-22 01:16] vbezruchkin commented on #22
thanks, Mike :)

[2019-10-08 16:37] checkerschaf opened #26 "Assets not compiled for production"
Hi,
I've just seen that the nova assets aren't compiled for production.
The console contains development warnings for vue.

Would be nice if you can fix it very quick 😄
If you don't have any time atm I could do it later.

Thanks

[2019-10-08 16:44] mikebronner commented on #26
Fix incoming ASAP.

[2019-10-08 16:46] #26 closed

[2019-10-08 16:46] mikebronner commented on #26
Should be fixed in 0.1.13. Let me know how it works for you.

[2019-10-08 22:24] checkerschaf commented on #26
@mikebronner Yes it does! Thanks a lot for the hot fix 👍

[2019-10-14 09:34] tanthammar opened #27 "OSM tile provider, load over https"
v 0.1.13

Looks like this old issue is unresolved.

#14

Error:
[code]
[code]

[2019-10-14 11:14] mikebronner commented on #27
@tanthammar Thanks for bringing this up. I just confirmed that it was fixed in one spot, but not another. I will get this updated ASAP.

[2019-10-14 12:20] #27 closed

[2019-10-14 12:22] mikebronner commented on #27
@tanthammar Give release 0.1.14 a try and let me know how it works for you.

[2019-10-19 15:11] zareismail opened #28 "new `isRequired` method in laravel nova field causes error"
nova version: 2.5.0

this package uses an array for field `attribute` that causes error `illegal offset type` when the nova check `isReuired` in nova field.

[2019-10-19 15:55] mikebronner commented on #28
@zareismail Thanks for reporting this issue. For now use the old way of making a field required, until this is fixed. :)
[code]

[2019-10-20 16:47] zareismail commented on #28
this error happening without uses rule on the field. when appended a rule to the field this error never happened

[2019-10-20 16:49] mikebronner commented on #28
Ah, thanks for the clarification. This must be due to changes in Nova 2.5. I will try to get that sorted out today.

[2019-10-20 17:52] #28 closed

[2019-10-20 17:53] mikebronner commented on #28
@zareismail This should now be fixed in release 0.1.15. Please try it and let me know how it works for you.

Thanks!

[2019-10-28 22:34] eboye opened #29 "Custom latitude and longitude fields not working without required"
I've tried setting custom attributes and was debugging this for an hour and found out I need to make the field required so it works with custom atttributes.

[code]

works

[code]

this doesn't work

[2019-10-28 22:36] mikebronner commented on #29
@eboye Thanks for reporting this. I will try to take a look at this in the coming days.

[2019-10-28 22:37] mikebronner commented on #29
@eboye  Could you provide the error messages you are getting (complete stack trace), package version, Laravel version, and PHP version?

[2019-10-28 22:49] eboye commented on #29
Hi, thanks for quick reply.

This is the stacktrace from the log:

[code]

0.1.15 is the version of genealabs/nova-map-marker-field
5.8.36 is the Laravel version
2.5.0 is the Nova version
PHP is 7.3.11

[2019-11-02 14:23] Dontorpedo opened #30 "option to show other markers"
Hi, a option to show other markers / or all would be nice.. or maybe only nearby..

thanks
Denis

[2019-11-02 16:16] mikebronner commented on #30
Hi @Dontorpedo thanks for submitting that idea. However, for now I think I will leave that feature out, because it doesn't really match with the intended purpose of this package. Could you expand on why this feature is important to your use-case?

[2020-01-10 13:35] recepgums opened #31 "Marker is not moving after i've search on the textbox"
`MapMarker::make("Location")
                ->latitude('latitude')
                ->longitude('longitude')->searchProvider('openstreetmap'),`
**
![image](https://user-images.githubusercontent.com/36725313/72156639-53ba3c80-33b6-11ea-8321-0d3b0b254c44.png)
**
It was working yesterday as well but now doesn't work

[2020-01-10 15:03] mikebronner commented on #31
Hi @recepgums, could you be more specific as to what "is not working"? We haven't made any updates, as you can so, so it is likely either an issue with OpenStreetMaps, or a configuration change in your app.

If you can provide any stack trace or other error logs, that would help identify what is going on.

[2020-01-13 01:00] recepgums commented on #31
[code]

I got this error on console.

 I mean after i filled textbox and pressed enter, i couldn't see any moving on map. Marker is stayin same possition. There may be an error with OpenStreetMaps as you say

[2020-01-24 13:51] Sonicelo opened #32 "Add optional synced fields for manual GPS coordinates input"
Hi, I would like to request a feature, that is add an optional way to display 2 input fields for manually inputing coordinates that get automatically updated when moving the map.

[2020-01-30 15:56] gwleuverink commented on #29
Just encountered the same issue. Fixed after making the field required.

[2020-01-30 16:27] eboye commented on #29
Cool, but it would be better if it could be nulled

[2020-01-30 18:17] gwleuverink commented on #29
[Here’s the trace](https://flareapp.io/share/w5ByZg78#F98)

[2020-02-03 09:07] Dontorpedo commented on #29
same error

[2020-02-05 04:38] semchishinv opened #33 "MapMarker field in Nova tabs"
Hi. Very nice package, thank you!

I find some issue with Map field, while use Nova tabs inside my resource.

For tabs I use **"eminiarts/nova-tabs": "1.2.2"**

![image](https://user-images.githubusercontent.com/30542757/73811230-23be5780-4803-11ea-8e87-c036b8a76627.png)

If I use Map field outside of tabs, there are no problems with it.

[2020-02-06 01:04] mikebronner commented on #33
Thanks @semchishinv for the bug report. Can you post a repo that reproduces this issue?

[2020-03-17 16:18] 56degreesdesign commented on #33
I have the same problem.

The map works after resizing the browser.

[2020-03-23 09:39] phlisg commented on #15
Hello Mike,

Bumping on this ticket again, I have updated to 0.1.15 but am still experiencing the same as OP.

**PHP Version:** ^7.4
**Nova Version:** ^2 (currently 2.11.1)
**Laravel Version:** ^6

I'm using the MapMarker within a callable for pivot fields:

[code]

**What works:**
- On create/update: the locations set from the MapMarker are correctly inserted in table
![image](https://user-images

[2020-03-23 15:43] mikebronner commented on #15
@phlisg What version of this package is installed in your Laravel app? Run:
[code]

I'll try to replicate the issue in the mean time.

[2020-03-23 15:49] mikebronner commented on #15
@phlisg Can you provide a basic project where this is failing for me to test? Looking at your problem description, this looks like it might have to do with the BelongsToMany pivot functionality.

[2020-03-23 16:17] phlisg commented on #15
@mikebronner thank you for your answer :)

Composer confirms I'm using version 0.1.15 of the library:

[code]

I'll look into creating a basic project, not sure at what speed I can provide you with it though.

Btw: moving the fields in a dedicaded invokable class doesn't change. The `Pivot` exists as a model but not as a resource. I'll try exploring the Resource way tomorrow.

[2020-03-23 16:20] mikebronner commented on #15
@phlisg Thanks for the additional details. Your Nova resources should mirror your models. I would highly recommend making a Nova resource for each model you have, and creating the relationships the same way. That's possibly why its not working, as the Nova resource relies on the underlying model and its relationships to function properly.

So if you are adding a BelongsToMany relationship on your

[2020-03-23 16:34] phlisg commented on #15
@mikebronner Thank you again for your follow-up

Ah! For instance every Model has a corresponding Resource - except my PivotTables. I just discovered through reading the Nova documentation that one should provide a `Fields` class instead of a `Resource` class when defining `BelongsToMany` fields, not sure I can use a Resource for my `Pivot` table

Here's a "UML" of my current implementation:

[cod

[2020-03-23 16:38] mikebronner commented on #15
@phlisg  Don't treat the pivot model like a pivot table. As soon as you make it a model, its not a pivot table anymore. Treat it like any other model. It should also extend Eloquent\Model, and should have its own Nova resource. And then you don't have BelongsToMany relationships anymore, but rather hasMany relationships and what used to be the pivot is now a model with two belongsTo relationships.

[2020-03-23 16:42] phlisg commented on #15
@mikebronner mmmh, thanks for the insight!

I had to create that `Pivot` model for the sortable package, as per its documentation [https://github.com/optimistdigital/nova-sortable#sorting-belongstomany-relationship-w-pivot-table](https://github.com/optimistdigital/nova-sortable#sorting-belongstomany-relationship-w-pivot-table)

I'll need to think how to orchestrate all the packages together haha

[2020-03-23 16:44] mikebronner commented on #15
@phlisg I think that problem will go away, as you won't have a BelongsToMany relationship anymore. I do not create pivot tables at all anymore, but make them full models instead. Doing that conveys meaning and purpose to what used to be pivot tables, and being a full model provides additional functionality and flexibility. :)

[2020-03-23 16:50] phlisg commented on #15
@mikebronner thanks again for your insight! I'll see how refactoring this
will go (and hope the issue will vanish too :D)

On Mon, 23 Mar 2020, 17:45 Mike Bronner, <notifications@github.com> wrote:

[2020-03-28 22:06] halah-m opened #35 "Laravel 7 support"
Hey, I really love this package and I wish that you could add Laravel 7 support because I want to update my project laravel version..

Thank you

[2020-03-28 22:12] mikebronner commented on #35
Hi @halah-m, thanks for checking out this package! :) Unfortunately we only support the current Laravel version. If you would like to use it with your older Laravel apps, please feel free to fork it and make any necessary adjustments. :)

[2020-03-28 22:12] #35 closed

[2020-04-12 13:59] ahmedmaazin opened #37 "TypeError: Cannot read property 'latitude' of null"
I'm getting the following error on the console with the new update of nova and the package. Tried setting a default value as well but still the same issue.

`vendor.js?id=f9725df909a5af18907e:1 TypeError: Cannot read property 'latitude' of null`

How I include the field within the Nova model is:

`MapMarker::make("Location")->rules('required')->hideFromIndex()->help('Drag the map on to a location

[2020-04-12 18:00] mikebronner commented on #37
I'll look into this over the coming week. Please feel free to submit a PR if you find the answer before me. :) Most likely something changed with the base field class in Nova 3.0.

[2020-04-12 18:31] ahmedmaazin commented on #37
Sure, I'll have a look as well. Thank you for checking it out.

[2020-04-25 13:52] Hujairi commented on #37
I'm getting a similar error,
firefox console shows:
TypeError: "this.field.value is null"
    setInitialValue domain/nova-api/scripts/nova-map-marker-field:1
and
TypeError: "t.$refs.map is undefined"
    mounted domain/nova-api/scripts/nova-map-marker-field:1

[2020-04-27 16:18] Hujairi commented on #37
I've updated nova to 3.4.1 and it's working now
and I also tried:
-npm install
-npm run dev
in the vendor folder, I don't know what actually solved it.

[2020-04-27 16:22] mikebronner commented on #37
@Hujairi thanks for updating me on this. I will close this for now. If anyone is still getting these issues when using Nova 3.4.1+.

[2020-04-27 16:22] #37 closed

[2020-05-04 07:36] parelius commented on #31
I have the same issue. I did not declare the search provider explicitly.
I get search results but when I select an entry from the suggestions, nothing happens.

I can confirm that it was working some time ago but now it isn't.

[2020-05-04 13:44] mikebronner commented on #31
@parelius Thanks for adding to the conversation. :) Could you provide your Nova field declaration as well? That will help with troubleshooting.

[2020-05-04 19:59] parelius commented on #31
Hi Mike, sure I can:

[code]

As you see, I'm using Eminiarts\Tabs\Tabs. I don't see a difference if using MapMarker inside Tabs or not. The issue remains the same.
MapMarker used to work, even within Tabs, some time ago.

I'm currently on Laravel framework 7.9.2 and Nova 3.5.0, but I noticed this issue earlier with Laravel 7.6.2 and Nova 3.3.2.

Console Log is the same as reported by @recepgums

[2020-05-04 20:02] mikebronner commented on #31
@parelius Awesome, thanks for the update .... I will take a look soon, hopefully over the next few days.

[2020-07-03 08:46] khaledzag opened #38 "The field doesn't shown in create form"
The map field doesn't shown in creation form !!

[code]

composer.json

[code]

nova version v3.3.2

@mikebronner

[2020-07-03 15:23] mikebronner commented on #38
Thanks, I will try to replicate this.

[2020-07-03 18:20] mikebronner commented on #38
@khaledzag I am unable to replicate the issue. Can you provide more details? Error logs, stack traces, browser console errors, etc.

[2020-07-03 19:41] khaledzag commented on #38
@mikebronner here is the console error :

[code]

[2020-07-03 19:46] mikebronner commented on #38
@khaledzag  Can you provide a test repo that replicates the problem? Unfortunately the console error doesn't provide additional information that would help figure out what's wrong on its own.

[2020-07-18 19:55] khaledzag commented on #38
@mikebronner here is the migration for latitude and longitude fields

[code]

[2020-07-18 20:02] mikebronner commented on #38
@khaledzag Sorry, I really need a full test repository. I am unable to reproduce the issue with just Nova and this package..

[2020-07-18 20:21] khaledzag commented on #38
fixed with nova 3.4.1 version

[2020-07-18 20:45] mikebronner commented on #38
@khaledzag Awesome!

[2020-07-18 20:45] #38 closed

[2020-07-24 15:37] mikebronner commented on #32
I'll be happy to review a PR on this. At the current time I don't have the bandwidth to implement it myself.

[2020-08-08 20:57] mikebronner opened #40 "Fix marker icon and shadow icon and allow customization."

[2020-08-27 10:24] khaledBawz opened #41 "'illegal offset type' whenever I create a resource."
Hello,

First, I would like to thank you for the great package.
Recently, I have the issue 'illegal offset type' whenever I want to create a resource. I think this happened in Laravel Nova v3.8.4 because before that I was able to create a resource fine.

here is my code,

[code]

is there any temporary solution for this issue?
Thank you.

[2020-08-27 14:52] mikebronner commented on #41
Hi @khaledBawz, if you can provide the entire stack trace that will help us debug the issue. Thanks! :)

[2020-09-01 09:50] semihkeskindev commented on #41
i have same issue 😢

[code]

[code]

[2020-09-01 12:54] abdulfattah-tayih-mawdoo3 commented on #41
Same issue, the problem happens whenever you submit a form containing the MapMarker component, to be specific
file `nova/src/PerformsValidation.php`
line 273 `return [$item->attribute => $item->name];` throws an `ErrorException` because `$item->attribute` returns an array containing the component object's attributes

Laravel v7.25
Nova v3.8.4

[2020-09-01 21:13] mikebronner commented on #41
@semihkeskindev Thanks for the additional details. I will work on a fix.

[2020-09-03 14:18] mikebronner commented on #41
Looks like this is a recent change in Nova that broke this. Working on it now.

[2020-09-03 14:45] mikebronner commented on #41
I have updated composer dependency restrictions to work with Nova 3.8.3 or lower until a permanent solution can be found.

[2020-09-03 15:09] mikebronner commented on #41
Opened issue with Nova: https://github.com/laravel/nova-issues/issues/2834

[2020-09-04 08:20] Dontorpedo commented on #30
Hi, yes!

it would be very helpfull for winter service tour planning, and services that are charged depending how many customers are nearby

[2020-09-04 12:43] mikebronner commented on #30
@Dontorpedo Thanks for following up. For that to be programmatically useful though, I would think you would need to have more information returned than just the coordinates of the marker. For example, you would need the coordinates of the nearby markers, perhaps with distance and direction from the original marker, to be able to use it in any significant way.

Further, how would you determine whic

[2020-09-04 14:53] mikebronner commented on #41
@khaledBawz @semihkeskindev @abdulfattah-tayih-mawdoo3 Would you guys mind testing release 0.2.2 and let me know if it works? I think I found a work-around to the problem.

[2020-09-04 14:53] #41 closed

[2020-09-04 14:53] #40 closed

[2020-09-04 14:58] mikebronner commented on #29
Would you guys mind retesting with release 0.2.2? I reworked a lot of the functionality, and from what I can tell it should work now.

[2020-09-04 20:18] mikebronner commented on #29
Closing this for now, as it seems to work in my testing.

[2020-09-04 20:18] #29 closed

[2020-09-05 01:53] mikebronner commented on #30
I can see what you mean by showing other markers nearby on the detail screen to give context, though.

If we limited it to nearby markers, we would have to have GIS functionality in the database to calculate distance in the where clauses. If we loaded all markers, it could quickly crash the page.

I'm going to put this on hold for now, but keep it here in case I can think of a good way to implemen

[2020-09-24 19:01] Dontorpedo opened #42 "laravel 7 support"
hi,

can you update the package to also support laravel 7 please?

thanks

[2020-09-24 19:13] mikebronner commented on #42
Hi @Dontorpedo, sorry, we only support the current Laravel version. You can continue using the previous versions that were Laravel 7 compatible, or make a fork and adjust as necessary to work with your requirements.

[2020-09-24 19:13] #42 closed

[2020-10-05 08:42] xoco70 opened #43 "Is it possible to put several markers in a map ?"
Hi,

I manage an app for collective autoconsumptions. There is one producer with solar panels on his roof, and several consumers that will consume his local energy.

When showing detail of each consumers, I can manage it easily, but when I need to show a map for the operation with all actors ( I can have a lot of consumers / producers ) in a 2 km diameter, I don't know how to do it. Circle would b

[2020-10-05 13:37] mikebronner commented on #43
Hi @xoco70, thanks for using this package. This package is only meant for a single marker. However, there is functionality to add radius circles, see the ReadMe for "Center Circle".

[2020-10-05 13:37] #43 closed

[2020-10-05 13:41] xoco70 commented on #43
Yep, I saw the circle, which is great, but I need several markers inside the circle ! Thanks anyway ! And thanks for the plugin ! I will use it for other uses cases

[2020-10-06 22:32] MohmmedAshraf opened #44 "TypeError: Cannot create property 'latitude' on string"
Hello, thanks for the package.

I got this error in the browser console in resource details when I try to move the map or zoom in and out.

![image](https://user-images.githubusercontent.com/44909285/95266879-62922a80-0834-11eb-91f8-c02304222d2e.png)

[2020-10-06 22:34] mikebronner commented on #44
Hi @MohmmedAshraf, please provide the following:
- PHP version
- Laravel version
- Package version
- Nova version

Full stacktrace from `storage/logs/laravel.log` if one exists.

[2020-10-06 22:42] MohmmedAshraf commented on #44
Hello @mikebronner that's was fast 😄  thanks
- PHP v7.4.11
- Laravel Framework v8.9.0
- Package version v0.3.0
- Nova v3.11.1

there is no laravel.log exists

[2020-10-06 22:43] mikebronner commented on #44
Thanks for the follow-up. There may be a new incompatibility with a recent Nova update. Give me some time to research this.

[2020-10-09 17:35] Dontorpedo commented on #44
PHP v7.4
Laravel v8.9
Package: v.0.3.0
Nova: 3.12

same issue

[2020-12-08 06:56] OthmanAlseagh opened #45 "the mab is showing as balnk"
hello dear.
I used the backage but something wrong there.
the mab shows as blank mab without any thing.

in my database i used
json(location) : to save long - latut as one columen
it doesnt abbear

but when i used
string(longitude)
string(latitude)

![Screenshot from 2020-12-08 09-48-54](https://user-images.githubusercontent.com/25552544/101450276-595c3180-393b-11eb-80f0-9c8556f0d0db.png)

**Envir

[2020-12-12 20:03] theianjohnson opened #46 "Better nullable support"
Currently I can allow nullable with

[code]

But if the map is moved at all it's impossible to re-nullify it, can we get a button to clear or reset the map? In my case the lat/lng is conditional so even accepting 0 as null was a compromise as that is a real lat/lng.

[2020-12-12 20:06] mikebronner commented on #46
Hi @theianjohnson, thanks for bringing up that use-case. I will look into it. Will also be happy to accept a PR, if you have the time. :)

[2021-01-12 10:25] parelius commented on #44
Same issue using

- PHP 7.4
- Laravel 8.21
- Nova 3.15
- Package 0.30.0

Using Chrome on Mac lets me display and update map correctly, althoug the error messages appear in browser console.
Using Firefox or Safari on Mac fails in displaying/updating the map.

[2021-01-12 10:28] parelius commented on #31
Any news here?

[2021-01-16 15:01] Donkfather opened #47 "Laravel 6 support on 0.2.2"
Hello,

Thank you for the package. I was wondering is there any specific reason why version 0.2.2 doesn't support Laravel 6 ?
I forked it and changed the composer.json file to allow Laravel 6 and haven't encountered any issues so far.
I'm asking because it might be something I missed.

Thank you

[2021-01-16 15:06] mikebronner commented on #47
Hi @Donkfather,
No specific reason at this point. As a general rule, I only support the latest version of Laravel. Further, I might only support more recent versions of PHP in order to take advantage of new functionality. If you forked it and it works, you should be OK. :)

[2021-01-16 15:06] #47 closed

[2021-03-09 10:24] Energon7 commented on #11
https://github.com/GeneaLabs/nova-map-marker-field/pull/48
[code]

[2021-03-31 13:09] StrangerGithuber opened #49 "Nova is required for?"
Hello
I am trying to installing but yeah it is asking for nova. The nova is not good for me because must pay for every projects and on the localhost it is problematic if I am trying to test things and after uploading the files to productive webserver.
Which way this package is using the Nova? Why do I need Nova?
Can't I use this package without nova?

Thank you for the answer.

[2021-03-31 14:10] mikebronner commented on #49
Hi @StrangerGithuber, as this package will only work in Laravel Nova, it requires Nova. This package will not work in Laravel alone, sorry.

[2021-03-31 14:10] #49 closed

[2021-04-03 12:43] schrink opened #50 "Google search provider does not work"
**Describe the bug**
When I set Google as a provider, it does not change.
API key is good and working in the other parts of applicaiton

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
It should use Google Geocoding API.

**Screenshots**
![DevTools_-_ourbeloved_cy_admin_resources_churches_604_edit_and_New_Issue_·_GeneaLabs_nova-map-marker-field](https://user-images.

[2021-04-12 17:30] danielwashbrook opened #51 "Support for Storing lat/long in mysql Geo Point field"
We've been using mysql's geo Point() field for storing the latitude and longitude values. I wrote a quick override to the fillAttributeFromRequest to handle this in our app. Is there any interest in merging this type of support into the main repo?
Cheers

[2021-04-12 17:46] mikebronner commented on #51
@danielwashbrook Any PRs you send in would be greatly appreciated! :)

[2021-04-14 17:25] danielwashbrook commented on #51
Cool, happy to put together a PR. Do you think the best approach would be a field option like
->fieldType('Point') vs ->fieldType('Text')
 or a trigger like
->isPointField()
?

[2021-04-14 17:35] mikebronner commented on #51
@danielwashbrook I can't say without more context. Would it be a huge difference in code either way? Say, if you went one way, how hard would it be to flip to the other way?

[2021-04-14 17:44] danielwashbrook commented on #51
It seems minimal effort either way. A condition in the fillAttributeFromRequest and resolve is all it really needs. But if we go with the fieldType() we could allow for 'Array' storage as well perhaps? We could go with both approaches and see 🤷

[2021-04-20 09:19] iSaadSalman commented on #50
Issue seem to be here in line # 71  on FormField:
Previously:
         ` const providerOptions = {};

            if (typeof this.field.searchProviderKey !== 'undefined') {
                providerOptions.params.key = this.field.searchProviderKey;
            }`

I changed it to:

` const providerOptions = {params: {key: null}};`

But there are other issues are there after this. This happens after

[2021-05-10 11:55] nilsE commented on #50
...same here: "Cannot create property '_leaflet_id' on string '85' at stamp"...
the first time you select an address it works, then this js error appears, no matter which search provider is used.

[2021-05-10 11:56] nilsE commented on #33
same here with nova/tabs, working after resizing

[2021-05-13 08:58] marcoguidara opened #52 "Map doesn't refresh on second search try."
**Describe the bug**
When I submit a search into map search bar, the first time the map gets refreshed. If I submit another search without clearing the bar with the "x button", the map doesn't get refreshed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Nova Edit resource form.
2. Click on map search bar
3. Fill the search bar and press return
4. Wait for map refresh
5. Change some d

[2021-05-13 15:02] mikebronner commented on #52
@marcoguidara I believe this is probably a bug with the underlying mapping engine, leaflet. I'll keep this issue open and investigate it when I am able. I'll be happy to review any PRs, if you can send one.

[2021-05-14 10:22] marcoguidara commented on #52
Thank you for your prompt reply.
Sadly, I can't set up a PR on the project I'm using the package.

If may help, this is the way I'm using the field now:

[code]

[2021-05-21 13:58] nshontz commented on #51
Wanted to follow up and see how this was coming and offer any support.

[2021-05-21 15:10] mikebronner commented on #51
@danielwashbrook @nshontz Certainly still open for a PR, if you can submit one. :)

[2021-05-21 15:23] nshontz commented on #51
This is where I landed in my attempt: https://github.com/nshontz/nova-map-marker-field/commit/e3d375c0b0195dc557c81c4974edd15eaa41f022

BUT it seems like Laravel Nova is trying to serialize and log the change in action_events, because the shape data isn't UTF friendly it's throwing an error. I'm working on that now. If I can find a solution I'll write some documentation and submit the PR.

but if

[2021-05-21 15:37] nshontz commented on #51
ActionEvent.php: 108
'original' => array_intersect_key($model->getRawOriginal(), $model->getDirty()),

Calling getRawOriginal here returns the raw shape data which yields something like "location":"�\u0010\u0000\u0000\u0001\u0001\u0000\u0000\u0000�Ye���T���q�xA@"

[2021-05-21 17:27] nshontz commented on #51
PR: https://github.com/GeneaLabs/nova-map-marker-field/pull/53

[2021-05-31 12:31] mrigo opened #54 "Can't input in the search bar in Safari"
**Describe the bug**
With Safari I can't input value in the search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a field created with nova map marker field with Safari
2. Try to click in the input field of the search bar
3. Can't click and can't input value

**Expected behavior**
That this works as in Google Chrome for example.

**Environment:**
 - Device Name & Model: MacBook P

[2021-05-31 12:33] mrigo commented on #52
Hi, any news about this?
I have the same problem...
Thanks!

[2021-05-31 19:10] #51 closed

[2021-06-17 12:05] MWL91 opened #56 "CORS error"
**Describe the bug**
During the search on map, response gives CORS error. On AWS (amazonaws.com) and localhost as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to map field
2. Enter text
3. Response will be CORS error

**Expected behavior**
Response should be valid JSON with map details.

[2021-07-08 18:14] gregoriohc commented on #31
Same problem here... I guess it is related with this issue on the "leaflet-geosearch" library:
https://github.com/smeijer/leaflet-geosearch/issues/167

[2021-07-12 13:11] Casperhr opened #57 "The pin icons needs to be rendered via the asset()/mix() func"
https://github.com/GeneaLabs/nova-map-marker-field/blob/master/resources/js/components/DetailField.vue#L21

If you are using a different path for public assets the pins on the map is not rendered

Please change this to use the laravel asset() or mix() global function

[2021-07-16 14:19] NazarYanenko commented on #56
Same for me(

[2021-07-16 15:31] MWL91 commented on #56
Change provider for Open street Maps and it will be works fine

[2021-09-09 07:02] keizah7 commented on #52
![image](https://user-images.githubusercontent.com/49227202/132638414-e8c4352c-cc58-4796-b71e-79e9d24662d4.png)

[2021-09-09 07:05] keizah7 commented on #52
![image](https://user-images.githubusercontent.com/49227202/132638759-4fa168a7-460c-48b2-8c7d-a44a7b7548e5.png)

[2021-10-01 08:17] mattiaefesto commented on #54
Any news about this? Is this package still alive?

[2021-12-07 07:49] haythoo opened #59 "parsing failed bad endian byte value 50"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit resource
2. Click on 'zoom map and select place', when selecting without zooming it is ok, but when zooming, the values saved in the database is long and causing errors
3. save
4. See error 'parsing failed: bad endian byte value XX' , XX sometime is 50, 41 or ot

[2021-12-08 12:46] NoahNxT commented on #33
Same issue here, but refreshing the page fixes it. Only thing is that you'll have to fill in your form all over again....

@mikebronner

[2022-01-24 06:56] citricguy commented on #46
You could create a Nova Action to re-nullify the field. Not as slick as a button in the editor, but is working for me at the moment.

For example:

[code]

[2022-02-23 20:27] mziraki opened #60 "Laravel 9 support"

[2022-02-28 01:14] nicko170 commented on #60
Hello @mziraki
Opened #61 for this.

[2022-02-28 11:13] mikebronner commented on #60
This is now available in release 0.4.0. Thank you @nicko170!

[2022-02-28 11:13] #60 closed

[2022-02-28 19:50] mziraki commented on #60
@mikebronner is there any reason for dropping of laravel 8 support?

[2022-02-28 20:26] mikebronner commented on #60
I only support current laravel versions.if you still need to use the laravel 8 version, you can use the older version of the package, or make a fork and adjust as necessary. Since this is still in beta, I am not concerned with LTS support.

[2022-03-07 12:22] #44 closed

[2022-03-09 18:55] ianjohn27 opened #63 "Add a maxZoom param to l-tile-layer?"
Can you add a maxZoom param? The leaflet default is 18, which is not great.

<l-tile-layer
                        :url="tileUrl"
                        :subdomains="field.subdomains"
                        :maxZoom="22"

[2022-03-09 19:01] mikebronner commented on #63
@ianjohn27 Good suggestion! I would be happy to review a PR for this, if anyone wants to contribute. :)

[2022-04-08 09:55] novelnet opened #64 "Nova 4 support"
Hi,

Please add support for Nova 4

[2022-04-12 13:47] Energon7 opened #65 "Please remove illuminate/support from dependencies."
This package already exists in laravel/framework folder.

[2022-04-12 14:06] #65 closed

[2022-04-12 14:07] mikebronner commented on #65
Composer is used to denote which dependencies this package has. Was such, we do take care to list each dependency to maintain compatibility.

[2022-05-08 10:30] NowakAdmin commented on #64
Are there any plans of updating to nova 4 ?

[2022-05-08 13:13] mikebronner commented on #64
I would appreciate a PR for this, if someone has the time to create one. :)

[2022-06-17 09:31] Lupennat opened #69 "Detail View bug with negative latitude and longitude"
On Detail View, when both coordinates are negative location map is not displayed.
computed function 'locationIsSet' verify that at least one coordinate is > 0, it should verify that at least one is != 0.

[2022-06-17 12:32] mikebronner commented on #69
Good catch! Thank you.

[2022-06-17 12:34] #69 closed

[2022-10-16 15:55] maajidz opened #70 "Not able to install the package due to illuminate/support"
When i try to run ```composer require  genealabs/nova-map-marker-field```

I get the following error:

``` genealabs/nova-map-marker-field 0.4.4 requires illuminate/support ^9.0 -> found illuminate/support[v9.0.0-beta.1, ..., 9.x-dev] but these were not loaded, likely because it conflicts with another require.```

Here is my composer.json:

[code]

[2022-10-16 15:57] maajidz commented on #70
and Here's my Composer.lock file:

https://drive.google.com/file/d/197oid9gaCKdfRcby9ZxBXCMMsw7UeJJL/view?usp=sharing

[2022-10-16 16:11] mikebronner commented on #70
@maajidz the current version only supports Laravel 9.

[2022-10-16 16:11] #70 closed

[2022-10-16 18:33] maajidz opened #71 "I'm on Laravel 9^ but I still am not able to install this package"
According to the answer provided by you in [Previous Issue](https://github.com/GeneaLabs/nova-map-marker-field/issues/70), I updated Laravel but Im still getting the following error. Please Help. If there is a way to install this package on Nova 4^, Please guide us with that.
<img width="1508" alt="Screenshot 2022-10-17 at 12 01 28 AM" src="https://user-images.githubusercontent.com/13271535/196052

[2022-10-16 18:38] mikebronner commented on #71
@maajidz unfortunately we do not support Laravel Nova 4 yet. I will be happy to support it if someone can send in a PR -- unfortunately I have not purchased a license for 4, as I no longer use it. I am considering marking this package as obsolete. I apologize for the inconvenience this is causing you, and would encourage you to check here for similar packages that work in Nova 4: https://novapacka

[2022-10-16 18:38] #71 closed